@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Medium.otf")
    format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir-Light";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-UltLt.otf")
    format("opentype");
  font-weight: 300;
}
